<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="com.domain.Article">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="commentId" column="comment_id" jdbcType="BIGINT"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="BIT"/>
            <result property="bodyHtml" column="body_html" jdbcType="VARCHAR"/>
            <result property="bodyMd" column="body_md" jdbcType="VARCHAR"/>
            <result property="viewCount" column="view_count" jdbcType="INTEGER"/>
            <result property="weight" column="weight" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,comment_id,author_id,
        create_time,del_flag,body_html,
        body_md,view_count,weight
    </sql>
    <select id="findArticleInfo" resultType="com.domain.Article">
        select summary ,title,body_html,body_md from blog_article where  id = #{id}
    </select>
    <select id="findArticleByUserId" resultType="java.lang.Integer">
        SELECT
            COUNT( * ) as articleCount
        FROM
            blog_article ba
                LEFT JOIN blog_user bu ON ba.author_id = bu.id
        WHERE bu.id = #{id}
    </select>
    <select id="findArticleViewById" resultType="java.lang.Integer">
        SELECT SUM(view_count) from blog_article WHERE author_id = #{id}
    </select>
    <select id="findArticleCountByUserIdTagId" resultType="java.lang.Integer">
        SELECT
            COUNT(*) as articleCount
        FROM
            blog_article ba
                RIGHT JOIN blog_article_tag bat ON ba.id = bat.article_id
        WHERE
            author_id = #{userid}
          AND
            bat.tag_id = #{tagId}
    </select>
</mapper>
