<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.domain.Menu">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="path" column="path" jdbcType="VARCHAR"/>
            <result property="component" column="component" jdbcType="VARCHAR"/>
            <result property="visible" column="visible" jdbcType="CHAR"/>
            <result property="status" column="status" jdbcType="CHAR"/>
            <result property="perms" column="perms" jdbcType="VARCHAR"/>
            <result property="icon" column="icon" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="BIGINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="delFlag" column="del_flag" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,path,
        component,visible,status,
        perms,icon,create_by,
        create_time,update_by,update_time,
        del_flag,remark
    </sql>
    <select id="selectPermsByUserId" resultType="java.lang.String">
        select distinct perms
        from blog_menu bm
                 left join blog_role_menu brm on brm.menu_id = bm.id
                 left join blog_role br on br.id = brm.role_id
                 left join blog_user_role bur on bur.role_id = br.id
                 left join blog_user bu on bu.id = bur.user_id
        where bu.id = #{id}
    </select>
    <select id="selectMenuListById" resultType="com.domain.Menu">
        select id,title,name,path,icon,component,redirect,parentId,is_show from blog_menu where id
        in (select menu_id from blog_role_menu where role_id
        in (select role_id from blog_user_role where user_id=#{id}))
    </select>
</mapper>
