<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.domain.User">
            <id property="id" column="blog_user_id" jdbcType="BIGINT"/>
            <result property="name" column="blog_user_name" jdbcType="CHAR"/>
            <result property="password" column="blog_user_password" jdbcType="VARCHAR"/>
            <result property="nickName" column="blog_user_nick_name" jdbcType="CHAR"/>
            <result property="sex" column="blog_user_sex" jdbcType="BIT"/>
            <result property="email" column="blog_user_email" jdbcType="CHAR"/>
            <result property="createTime" column="blog_user_create_time" jdbcType="TIMESTAMP"/>
            <result property="age" column="blog_user_age" jdbcType="INTEGER"/>
            <result property="avator" column="blog_user_avator" jdbcType="VARCHAR"/>
            <result property="status" column="blog_user_status" jdbcType="BIT"/>
            <result property="phoneNumber" column="blog_user_phone_number" jdbcType="INTEGER"/>
            <result property="delFlag" column="blog_user_del_flag" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List">
        blog_user_id,blog_user_name,blog_user_password,
        blog_user_nick_name,blog_user_sex,blog_user_email,
        blog_user_create_time,blog_user_age,blog_user_avator,
        blog_user_status,blog_user_phone_number,blog_user_del_flag
    </sql>
</mapper>
