<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.WorkMapper">

    <resultMap id="BaseResultMap" type="com.domain.Work">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="BIGINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="authorId" column="author_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="BIT"/>
            <result property="linkGithub" column="link_github" jdbcType="VARCHAR"/>
            <result property="linkGitee" column="link_gitee" jdbcType="VARCHAR"/>
            <result property="imgId" column="img_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,create_time,
        description,author_id,status,
        link_github,link_gitee,img_id
    </sql>
</mapper>
